<h1 class='font-new'><a href="/">Ajax Users</a></h1>
<br /><br />

<!--Create Action -->
<form id='add-user-form' method='POST' action='/api/v1/users'>
  <label>First Name</label>
  <input id='user-first-name' type='text' name='user[first-name]' required />
  <br />

  <label>Last Name</label>
  <input id='user-last-name' type='text' name='user[last-name]' required />
  <br />

  <label>Phone Number</label>
  <input id='user-phone-number' type='text' name='user[phone-number]' required />

  <br /><br />
  <input type='submit' class='font-new waves-effect waves-light btn pink accent-4' />

</form>
<br /><br /><br />

  <div id='show-user-detail'>
  </div>

<div id='user-list'>
<!-- INDEX ACTION -->
<button id='get-users' class='font-new waves-effect waves-light btn btn-lg purple darken-4'><i class="material-icons right">person_pin</i>List All Users</button>
<br /><br />

<h4 class='font-new' id='users'></h4>
</div>
</div>

